/* 活动平台首页底部 */
.footer{
    width:100%;
}
.footer img{
    width:100%;
    height:547px;
}
.footer .foot{
    width:100%;
    height:71px;
    background: #444444;
    display: flex;
    justify-content: center;
}
.footer .foot li{
    margin-left:20px;
    margin-right:20px;
    margin-top:42px;
}
.footer .foot li a{
    color:#fff;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
}
